@CHARSET "UTF-8";
body.sgy {
	leftmargin: 0px;
	topmargin: 0px;
	color: #000000;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	font-family: "Tahoma", "Arial", "宋体";
}

body.sgy table.sgy {
	border-collapse: collapse;
	width:100%;
	border-bottom: solid 0px;
	margin-left: auto;
	margin-right: auto;
}

body.sgy form.sgy {
	width: 98%;
	padding-top: 10px;
	background: #f0f0f0;
	overflow:auto;
	border: 1px solid #cccccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;	
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;
	margin-left: auto;
	margin-right: auto;
	height: 96%;
}

table.sgy th,table.sgy tr,table.sgy td {
	padding: 0px 0px 0px 10px !important;
	border: 1px solid #BEBEBE;
	valign: middle;
	font-size: 12px;
	text-align: center;
	align: center;
	border-collapse:collapse;
}

table.sgy tr.detailHeader td {
	background-image: url('images/panel_title.gif');/*使用的easysui的图片样式，有的皮肤可能是gif的图片*/
	background-position:left -1px;
	text-valign: middle;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	height: 25px;
	color:#15428B;
	border-collapse:collapse;
}

table.sgy tr.pageheader td {
	background-image: url('images/panel_title.gif');/*使用的easyui的图片样式，有的皮肤可能是gif的图片*/
	background-position:left 0px;
	text-valign: middle;
	text-align: left;
	font-weight: bold;
	font-size: 15px;
	height: 25px;
	color:#15428B;
	border: 0px;
	border-bottom:1px solid #BEBEBE;
	border-collapse:collapse;
}

table.sgy td.outDetail {
	background-color: #F5F5F5;/*取tab标签的颜色*/
	padding: 0px 0px 0px 0px !important;
	text-align: center;
	border-collapse:collapse;
}

table.sgy td.outDetail2 {
	background-color: white;
	padding: 0px 0px 0px 2px !important;
	text-align: left;
	word-break: break-all;
	word-wrap:break-word;
	border-collapse:collapse;
}

table.sgy tr.pagesearch td {
	border: 0;
	font-weight: normal;
	height: 30px;
	border-collapse:collapse;
	margin-bottom: 5px;
	background-color: #fafafa;/*配合easyui的样式  使用easyui.css中的.combobox-item-hover背景*/
}

body.sgy input {
	font-family: "Tahoma", "Arial", "宋体";
	font-size: 12px;
	color: #000000;
}

input {
	border: expression((this.type=="text" || this.type=="password" || this.type=="button"  ||this.type=="file"  )? "1px solid #9EB1BC":"");
	padding: 2px 0px 0px 2px;
	color:#709BD0;
	vertical-align: middle;
}

span.combo input {
	clear:both;
	border: 0px !important;
	margin-top: 1px;
	padding: 2px 0px 0px 2px;
}

td.outDetail2 input {
	size: 18;
}

body.sgy  a:link {
	font-family: "Tahoma", "Arial", "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

body.sgy  a:visited {
	font-family: "Tahoma", "Arial", "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

body.sgy  a:hover {
	font-family: "Tahoma", "Arial", "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}

body.sgy div.sgy {
	text-align: center;
	font-size:12px;
}

.btn{
	/*background:url(http://s1.bdstatic.com/r/www/img/i-1.0.0.png) repeat-x;*/
	padding: 1px 5px 1px 5px;
	text-align:center;
	height:24px;
	width:auto;
	cursor: pointer;
	border:1px solid #8DB2E3;
	background-color:transparent;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0, enabled='true',startColorStr='#EDF2FA', endColorStr='#BCD8FF');
	background: -moz-linear-gradient(top, #EDF2FA 0%, #BCD8FF 150%);
	background: -webkit-gradient(linear, 0% 0%, 0% 150%, from(#EDF2FA), to(#BCD8FF));
}